# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da pratica" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Introdução ao Python

### Questão 1

Imprima a frase `Escola de Dados da Alura!`

In [ ]:
print('Escola de Dados da Alura!')

Escola de Dados da Alura!

### Questão 2
Imprima na tela seu nome e seu sobrenome seguindo a estrutura abaixo:
```
Nome: [seu nome]
Sobrenome: [seu sobrenome]
```

In [ ]:
print('Nome: Matheus')
print('Sobrenome: Leite')

Nome: Matheus
Sobrenome: Leite

### Questão 3
Imprima o seu primeiro nome letra a letra. Por exemplo, nome é Mirla, então eu obtenho a seguinte saída:
```
M
I
R
L
A
```

In [ ]:
print('M')
print('a')
print('t')
print('h')
print('e')
print('u')
print('s')

M
a
t
h
e
u
s

### Questão 4
Imprima o dia do seu nascimento em formato `dia mês ano`. Os valores de dia e ano não podem estar entre aspas. O formato deve estar como no exemplo, supondo uma data de aniversário dia 28 de fevereiro de 2003:
```
28 fevereiro 2003
```

In [ ]:
print(7,'Junho',2006)

7 Junho 2006

### Questão 5
Imprima em um único print o atual ano que você está fazendo esse curso, o valor do ano deve ser um dado numérico. A saída do print deve ser a seguinte:
```
Ano atual: [ano]
```

In [ ]:
print('Ano atual:', 2025)

Ano atual: 2025

## Aula 2 - Manipulando dados no Python

### Coleta e amostragem de dados

#### Questão 1
Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

In [ ]:
nome = input('Digite seu nome: ')
print(f'Ola, {nome}')

Digite seu nome: Matheus
Ola, Matheus

#### Questão 2
Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.

In [ ]:
nome = input('Digite seu nome: ')
idade = input('Digite sua idade: ')
print(f"Olá, {nome}, você tem {idade} anos")

Digite seu nome: Matheus
Digite sua idade: 18
Olá, Matheus, você tem 18 anos

#### Questão 3
Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [ ]:
nome = input('Digite seu nome: ')
idade = input('Digite sua idade: ')
altura = input('Digite sua altura: ')
print(f"Olá, {nome}, você tem {idade} anos e mede {altura} metros!")

Digite seu nome: Matheus
Digite sua idade: 18
Digite sua altura: 1.75
Olá, Matheus, você tem 18 anos e mede 1.75 metros!

### Calculadora com operadores

#### Questão 1

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
soma = n1 + n2
print("Soma: " + str(soma))

Digite um valor: 2
Digite outro valor: 3
Soma: 5

#### Questão 2
Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
n3 = int(input('Digite outro valor: '))
soma = n1 + n2 + n3
print("Soma: " + str(soma))

Digite um valor: 3
Digite outro valor: 4
Digite outro valor: 5
Soma: 12

#### Questão 3
Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
sub = n1 - n2
print("Subtracao: " + str(sub))

Digite um valor: 3
Digite outro valor: 5
Subtracao: -2

#### Questão 4

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
mult = n1 * n2
print("Multiplicação: " + str(mult))

Digite um valor: 3
Digite outro valor: 4
Multiplicação: 12

#### Questão 5

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numerador = int(input("Digite o valor do numerador: "))
denominador = int(input("Digite o valor do denominador (não pode ser 0): "))
divisao = numerador/denominador

print(divisao)

Digite o valor do numerador: 2
Digite o valor do denominador (não pode ser 0): 1
2.0

#### Questão 6

Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

In [ ]:
operador = int(input('Digite o operador: '))
potencia = int(input('Digite a potencia: '))

exp = operador ** potencia
print(exp)

Digite o operador: 2
Digite a potencia: 3
8

#### Questão 7
Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numerador = int(input("Digite o valor do numerador: "))
denominador = int(input("Digite o valor do denominador (não pode ser 0): "))
divisao = int(numerador/denominador)

print(divisao)

Digite o valor do numerador: 2
Digite o valor do denominador (não pode ser 0): 1
2

#### Questão 8

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numerador = int(input("Digite o valor do numerador: "))
denominador = int(input("Digite o valor do denominador (não pode ser 0): "))
resto = numerador % denominador

print(resto)

Digite o valor do numerador: 3
Digite o valor do denominador (não pode ser 0): 2
1

#### Questão 9

Crie um código que solicita 3 notas de um estudante e imprima a média das notas.

In [ ]:
n1 = int(input('Digite a primeira nota: '))
n2 = int(input('Digite a segunda nota: '))
n3 = int(input('Digite a terceira nota: '))
media = (n1 + n2 + n3)/3
print("Media: " + str(media))

Digite a primeira nota: 1
Digite a segunda nota: 3
Digite a terceira nota: 2
Media: 2.0

#### Questão 10

Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
media = ((5*1) + (12*2) + (20*3) + (15*4))/4
print(media)

37.25

### Editando textos

#### Questão 1

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.

In [ ]:
frase = 'Ola mundo'
print(frase)

Ola mundo

#### Questão 2
Crie um código que solicite uma frase e depois imprima a frase na tela.

In [ ]:
frase = input('Digite uma frase: ')
print(frase)

Digite uma frase: ola tudo bem?
ola tudo bem?

#### Questão 3

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.upper()
print(frase)

Digite uma frase: ola mundo
OLA MUNDO

#### Questão 4

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.lower()
print(frase)

Digite uma frase: OLA
ola

#### Questão 5

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [ ]:
frase = ' Ola mundo '
frase.strip()
print(frase)

 Ola mundo

#### Questão 6

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.strip()
print(frase)

Digite uma frase:                     ola tyuasdas
ola tyuasdas

#### Questão 7


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.strip().lower()
print(frase)

Digite uma frase:             OLA MUNDO
ola mundo

#### Questão 8

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`e`” trocadas pela letra “`f`”.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.replace('e','f')
print(frase)

Digite uma frase: teste
tfstf

#### Questão 9


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`a`” trocadas pela caractere  “`@`”.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.replace('a','@')
print(frase)

Digite uma frase: ararara
@r@r@r@

#### Questão 10


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “`s`” trocadas pelo caractere  “`$`”.

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.replace('s','$')
print(frase)

Digite uma frase: sabia
$abia

## Aula 3 - Estruturas condicionais

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
if n1 > n2:
  print(n1)
else:
  print(n2)

Digite um valor: 2
Digite outro valor: 3
3

#### Questão 2
Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
porcentagem = int(input('Digite o percentual de crescimento: '))
if porcentagem > 0:
  print('Houve um crescimento')
else:
  print('Houve um decrescimento')

#### Questão 3
Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

In [ ]:
letra = input('Digite uma letra: ')
if letra == 'a' or letra == 'e' or letra == 'i' or letra == 'o' or letra == 'u':
  print('Vogal')
else:
  print('Consoante').

Digite uma letra: a
Vogal

#### Questão 4
Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

In [ ]:
valor1 = int(input('Digite o valor do primeiro ano: '))
valor2 = int(input('Digite o valor do segundo ano: '))
valor3 = int(input('Digite o valor do terceiro ano: '))
if valor1 > valor2 and valor1 > valor3:
  print(valor1)
elif valor2 > valor1 and valor2 > valor3:
  print(valor2)
else:
  print(valor3)

#### Questão 5
Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [ ]:
produto1 = int(input('Digite o valor do primeiro produto: '))
produto2 = int(input('Digite o valor do segundo produto: '))
produto3 = int(input('Digite o valor do terceiro produto: '))
if produto1 < produto2 and produto1 < produto3:
  print(produto1)
elif produto2 < produto1 and produto2 < produto3:
  print(produto2)
else:
  print(produto3)

#### Questão 6
Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
n3 = int(input('Digite outro valor: '))

if n1 > n2 and n1 > n3:
  if n2 > n3:
    print(n1,n2,n3)
  else:
    print(n1,n3,n2)

elif n2 > n1 and n2 > n3:
  if n1 > n3:
    print(n2,n1,n3)
  else:
    print(n2,n3,n1)

else:
  if n1 > n2:
    print(n3,n1,n2)
  else:
    print(n3,n2,n1)

#### Questão 7
Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [ ]:
turno = input('Digite em qual turno você estuda ("manhã", "tarde" ou "noite"): ')

if turno == 'manhã':
  print('Bom Dia!')
elif turno == 'tarde':
  print('Boa Tarde!')
elif turno == 'noite':
  print('Boa Noite!')
else:
  print('Valor Inválido!')

#### Questão 8
Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo `%`.

In [ ]:
numero = int(input('Digite um numero inteiro: '))
if numero % 2 == 0:
  print('Par')
else:
  print('Impar')

#### Questão 9
Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [ ]:
numero = input('Digite um numero: ')
if '.' in numero:
  print('Decimal')
else:
  print('Inteiro')

Digite um numero: 5.2
Decimal

### Momento dos projetos

#### Questão 10
Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))

print('Qual operacao deseja realizar? 1-soma 2-subtracao 3-multiplicacao 4-divisao')
operacao = int(input())

if operacao == 1:
  resultado = n1 + n2
elif operacao == 2:
  resultado = n1 - n2
elif operacao == 3:
  resultado = n1 * n2
else:
  resultado = n1 / n2

print(resultado)

if resultado % 2 == 0:
  print('Par')
else:
  print('Impar')

if resultado > 0:
  print('Positivo')
else:
  print('Negativo')

if '.' in str(resultado):
  print('Decimal')
else:
  print('Inteiro')

Digite um valor: 3
Digite outro valor: 5
Qual operacao deseja realizar? 1-soma 2-subtracao 3-multiplicacao 4-divisao
4
0.6
Impar
Positivo
Decimal

#### Questão 11
Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:
- Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
- Triângulo Equilátero: três lados iguais;
- Triângulo Isósceles: quaisquer dois lados iguais;
- Triângulo Escaleno: três lados diferentes;

In [ ]:
valor1 = int(input('Digite o valor do primeiro lado: '))
valor2 = int(input('Digite o valor do segundo lado: '))
valor3 = int(input('Digite o valor do terceiro lado: '))

if valor1 + valor2 > valor3 and valor1 + valor3 > valor2 and valor2 + valor3 > valor1:
  if valor1 == valor2 and valor1 == valor3:
    print('Equilátero')
  elif valor1 == valor2 or valor1 == valor3 or valor2 == valor3:
    print('Isósceles')
  elif valor1 != valor2 and valor1 != valor3 and valor2 != valor3:
    print('Escaleno')
else:
  print('Nao forma um triangulo')

#### Questão 12
Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R\$ 2,00 e o preço do litro de etanol é R\$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

- O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
- O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

In [ ]:
qtdlitros = int(input('Digite a quantidade de litros: '))
tipo = input('Digite o tipo de combustivel (E para etanol e D para diesel): ')

if tipo == 'E':
  if qtdlitros <= 15:
    desconto = 0.02
  else:
    desconto = 0.04
  preco = 1.70
elif tipo == 'D':
  if qtdlitros <= 15:
    desconto = 0.03
  else:
    desconto = 0.05
  preco = 2.0

valor = (preco * qtdlitros) - (preco * qtdlitros * desconto)
print(valor)

Digite a quantidade de litros: 15
Digite o tipo de combustivel (E para etanol e D para diesel): E
24.99

#### Questão 13
Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:
- Para variação acima de 20%: bonificação para o time de vendas.
- Para variação entre 2% e 20%: pequena bonificação para time de vendas.
- Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
- Para bonificações abaixo de -10%: corte de gastos.

In [ ]:
qtdvendas2022 = int(input('Digite a quantidade de vendas em 2022: '))
qtdvendas2023 = int(input('Digite a quantidade de vendas em 2023: '))

var = ((qtdvendas2023 - qtdvendas2022)/qtdvendas2022) * 100

if var > 20:
  print('Bonificacao para o time de vendas')
elif var >= 2 and var <= 20:
  print('Pequena bonificacao para time de vendas')
elif var >= -10 and var < 2:
  print('Planejamento de políticas de incentivo às vendas')
else:
  print('Corte de gastos')

## Aula 4 - Estruturas de repetição

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))

for i in range(n1+1,n2):
  print(i)

Digite um valor: 1
Digite outro valor: 6
2
3
4
5

#### Questão 2
Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a colônia B com 10 elementos.

In [ ]:
bacA=4
bacB=10
dias=0

while bacA < bacB:
  bacA = bacA * 1.03
  bacB = bacB * 1.015
  dias = dias + 1

print(dias)

63

#### Questão 3
Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
verificador=True
for i in range(15):
  nota = int(input('Digite uma nota de 0 a 5: '))
  while nota > 5 or nota < 0:
    print('Nota invalida, digite novamente')
    nota = int(input('Digite uma nota de 0 a 5: '))
  print(f"Nota {i+1} válida: {nota}")

Digite uma nota de 0 a 5: 2
Nota 1 válida: 2
Digite uma nota de 0 a 5: 6
Nota invalida, digite novamente
Digite uma nota de 0 a 5: 5
Nota 2 válida: 5

KeyboardInterrupt: Interrupted by user

#### Questão 4
Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e faça uma análise. Portanto, escreva um programa que leia temperaturas e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [ ]:
temperatura = int(input('Digite uma temperatura em Celsius: '))
soma = 0
qtd = 0
while temperatura != -273:
  soma = soma + temperatura
  qtd = qtd + 1
  temperatura = int(input('Digite uma temperatura em Celsius: '))

media = soma/qtd
print(media)

Digite uma temperatura em Celsius: 54
Digite uma temperatura em Celsius: 42
Digite uma temperatura em Celsius: 78
Digite uma temperatura em Celsius: 273
Digite uma temperatura em Celsius: -273
111.75

#### Questão 5
Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. O fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
numero = int(input('Digite um número inteiro: '))

fatorial = 1
for i in range(1, numero + 1):
  fatorial *= i

print(f'O fatorial de {numero} é {fatorial}')

Digite um número inteiro: 5
O fatorial de 5 é 120

### Momento dos projetos

#### Questão 6
Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20
```

In [ ]:
numero = int(input('Digite um numero: '))

print(f'Tabuada do {numero}:')
for i in range(1, 11):
  print(f'{numero} x {i} = {numero * i}')

Digite um numero: 2
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#### Questão 7
Os números primos possuem várias aplicações dentro da Ciência de Dados, por exemplo, na criptografia e segurança. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

In [ ]:
numero = int(input('Digite um numero: '))

verificador = True
for i in range(2, numero):
  if numero % i == 0:
    verificador = False
    break
if verificador:
  print('Numero primo')
else:
  print('Numero nao primo')

Digite um numero: 4
Numero nao primo

#### Questão 8
Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

In [ ]:
faixa_0_25 = 0
faixa_26_50 = 0
faixa_51_75 = 0
faixa_76_100 = 0

while True:
  idade = int(input('Digite a idade do cliente: '))
  if idade < 0:
    break

  if idade >= 0 and idade <= 25:
    faixa_0_25 += 1
  elif idade >= 26 and idade <= 50:
    faixa_26_50 += 1
  elif idade >= 51 and idade <= 75:
    faixa_51_75 += 1
  elif idade >= 76 and idade <= 100:
    faixa_76_100 += 1

print(f'Faixa 0-25: {faixa_0_25} pensionistas')
print(f'Faixa 26-50: {faixa_26_50} pensionistas')
print(f'Faixa 51-75: {faixa_51_75} pensionistas')
print(f'Faixa 76-100: {faixa_76_100} pensionistas')

Digite a idade do cliente: 5
Digite a idade do cliente: 35
Digite a idade do cliente: 46
Digite a idade do cliente: 78
Digite a idade do cliente: 23
Digite a idade do cliente: -2
Faixa 0-25: 2 pensionistas
Faixa 26-50: 2 pensionistas
Faixa 51-75: 0 pensionistas
Faixa 76-100: 1 pensionistas

#### Questão 9
Em uma eleição para gerência em uma empresa com 20 funcionários, existem quatro candidatos. Escreva um programa que calcule o vencedor da eleição. A votação ocorreu da seguinte maneira:
- Cada funcionário votou em um dos quatro candidatos (representados pelos números 1, 2, 3 e 4).
- Também foram contabilizados os votos nulos (representado pelo número 5) e os votos em branco (representado pelo número 6).

Ao final da votação, o programa deve exibir o total de votos para cada candidato, o número de votos nulos e o número de votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

In [ ]:
candidato1=0
candidato2=0
candidato3=0
candidato4=0
nulo=0
branco=0

for i in range(20):
  voto = int(input('Digite o numero do candidato: '))
  if voto == 1:
    candidato1 +=1
    elif voto == 2:
    candidato2 +=1
  elif voto == 3:
    candidato3 +=1
  elif voto == 4:
    candidato4 +=1
  elif voto == 5:
    nulo +=1
  elif voto == 6:
    branco +=1

print(f'Candidato 1: {candidato1}')
print(f'Candidato 2: {candidato2}')
print(f'Candidato 3: {candidato3}')
print(f'Candidato 4: {candidato4}')
print(f'Nulos: {nulo}')
print(f'Brancos: {branco}')

## Aula 5 - Estruturas de dados

### Aquecendo na programação

#### Questão 1
Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel `[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]`. Com esses valores, faça um programa que calcule a média de gastos. Dica, use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media = sum(gastos)/len(gastos)
print(media)

3144.222

#### Questão 2
 Com os mesmos dados da questão anterior, defina quantas compras foram acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [ ]:
contador = 0

for i in gastos:
  if i > 3000:
    contador += 1

porcentagem = (contador/len(gastos)) * 100
print(porcentagem)

70.0

#### Questão 3
Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: `[1,4,7,2,4]`.

In [ ]:
lista = [1,4,7,2,4]
for i in lista:
  print(i)

1
4
7
2
4

#### Questão 4
Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [ ]:
lista = [1,4,7,2,4]
lista.reverse()
for i in lista:
  print(i)

4
2
7
4
1

#### Questão 5
Faça um programa que, ao inserir um número qualquer, criará uma lista contendo todos os números primos entre 1 e o número digitado.

In [ ]:
n = int(input('Digite um numero: '))
lista = []
for i in range(1, n+1):
  for j in range(1, i+1):
    if i % j == 0 and j != 1 and j != i:
      break
    elif i % j == 0 and j != 1:
      lista.append(i)
print(lista)

Digite um numero: 13
[2, 3, 5, 7, 11, 13]

#### Questão 6
Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é uma data válida para uma análise.

In [ ]:
data = input('Digite uma data no formato dd/mm/aaaa: ')

data_lista = data.split('/')

for i in range(0,len(data_lista)):
  data_lista[i] = int(data_lista[i])

if data_lista[0] > 31 or data_lista[1] > 12:
  print('Data inválida')
else:
  print('Data válida')

Digite uma data no formato dd/mm/aaaa: 04/15/2020
Data inválida

### Momento dos projetos

#### Questão 7
Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias multiplicadas por dia, com base em um processo de duplicação diária e pode ser observado a seguir: `[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]`. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: `100 * (amostra_atual - amostra_passada) / (amostra_passada)`.

In [ ]:
crescimento = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
percentual=0

for i in range(1,len(crescimento)):
  percentual = 100 * (crescimento[i] - crescimento[i-1]) / (crescimento[i-1])
  print(f'Percentual dia {i}: {percentual:.2f}')

Percentual dia 1: 75.00
Percentual dia 2: 57.14
Percentual dia 3: 51.52
Percentual dia 4: 56.00
Percentual dia 5: 44.87
Percentual dia 6: 46.90
Percentual dia 7: 51.20
Percentual dia 8: 50.60
Percentual dia 9: 50.53

#### Questão 8
Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros, sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:
amargo = 0
doce = 0
for i in range(0,10):
  id = int(input('Digite o código do doce:'))
  if id % 2 == 0:
    doce += 1
  else:
    amargo += 1

print(f'Doces: {doce}\nAmargo: {amargo}')

Digite o código do doce:2
Digite o código do doce:2
Digite o código do doce:3
Digite o código do doce:6
Digite o código do doce:4
Digite o código do doce:1
Digite o código do doce:15
Digite o código do doce:25
Digite o código do doce:8
Digite o código do doce:9
Doces: 5
Amargo: 5

#### Questão 9
Desenvolva um programa que informa a nota de um aluno de acordo com suas respostas. Ele deve pedir a resposta de um aluno para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem alternativas:  A, B, C ou D.
```
Gabarito da Prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
```

In [ ]:
gabarito_prova = {'01':'D',
                  '02':'A',
                  '03':'C',
                  '04':'B',
                  '05':'A',
                  '06':'D',
                  '07':'C',
                  '08':'C',
                  '09':'A',
                  '10':'B'}

resposta_aluno = {}
nota = 0

for questao,alternativa in gabarito_prova.items():
  resposta = input(f'Digite a resposta da questao {questao}:')
  resposta_aluno[questao] = resposta
  if resposta_aluno[questao] == gabarito_prova[questao]:
    nota+=1

print(f'A nota do aluno foi {nota}\nConfira o gabarito:\n  Prova Aluno x Gabarito')

for questao,alternativa in gabarito_prova.items():
  print(f'Questao {questao}: {alternativa} x {resposta_aluno[questao]}')

Digite a resposta da questao 01:D
Digite a resposta da questao 02:A
Digite a resposta da questao 03:C
Digite a resposta da questao 04:B
Digite a resposta da questao 05:A
Digite a resposta da questao 06:D
Digite a resposta da questao 07:C
Digite a resposta da questao 08:C
Digite a resposta da questao 09:A
Digite a resposta da questao 10:B
A nota do aluno foi 10
Confira o gabarito:
  Prova Aluno x Gabarito
Questao 01: D x D
Questao 02: A x A
Questao 03: C x C
Questao 04: B x B
Questao 05: A x A
Questao 06: D x D
Questao 07: C x C
Questao 08: C x C
Questao 09: A x A
Questao 10: B x B

#### Questão 10
Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual, e em que mês elas ocorreram, mostrando os meses por extenso: Janeiro, Fevereiro, etc.

In [ ]:
temperaturas = {'Mês': ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']}

lista_temperaturas = []
for mes in temperaturas['Mês']:
  temp = float(input(f'Digite a temperatura média de {mes}: '))
  lista_temperaturas.append(temp)

temperaturas['Temperatura'] = lista_temperaturas

soma_temp = sum(temperaturas['Temperatura'])
media = soma_temp/12

print(f'Média anual: {media}\nTemperaturas acima da média anual:')
for i in range(len(temperaturas['Mês'])):
  if temperaturas['Temperatura'][i] > media:
    print(f'{temperaturas["Mês"][i]}: {temperaturas["Temperatura"][i]}')

Digite a temperatura média de Janeiro: 25.0
Digite a temperatura média de Fevereiro: 24.2
Digite a temperatura média de Março: 23.1
Digite a temperatura média de Abril: 20.9
Digite a temperatura média de Maio: 19.8
Digite a temperatura média de Junho: 18.7
Digite a temperatura média de Julho: 21.5
Digite a temperatura média de Agosto: 24.2
Digite a temperatura média de Setembro: 26.5
Digite a temperatura média de Outubro: 22
Digite a temperatura média de Novembro: 21
Digite a temperatura média de Dezembro: 18
Média anual: 22.075
Temperaturas acima da média anual:
Janeiro: 25.0
Fevereiro: 24.2
Março: 23.1
Agosto: 24.2
Setembro: 26.5

#### Questão 11
Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:
```
{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
```
Escreva um código que calcule o total de vendas e o produto mais vendido.

In [ ]:
vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

total_vendas = 0
maior_quantidade = 0
mais_vendido = ''

for produto, quantidade in vendas.items():
  total_vendas += quantidade
  if quantidade > maior_quantidade:
    maior_quantidade = quantidade
    mais_vendido = produto

print(f'Total de vendas: {total_vendas}\nProduto mais vendido: {mais_vendido}: {maior_quantidade}')

Total de vendas: 920
Produto mais vendido: Produto A: 300

#### Questão 12
Uma pesquisa de mercado foi feita para decidir qual design de uma marca infantil mais agrada crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:
```
'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''
```
Adapte os dados fornecidos a você para uma estrutura de dicionário e a partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [ ]:
votos = {'Design 1' : 1334,
         'Design 2' : 982,
         'Design 3' : 1751,
         'Design 4' : 210,
         'Design 5' : 1811}

vencedor = ''
maiorqtd = 0
qtdtotal = 0

for design, qtdvotos in votos.items():
  if qtdvotos > maiorqtd:
    maiorqtd = qtdvotos
    vencedor = design
  qtdtotal += qtdvotos

porcentagem = (maiorqtd/qtdtotal)*100

print(f'O vencedor é: {vencedor} com {porcentagem:.2f}%')

O vencedor é: Design 5 com 29.75%

#### Questão 13
Os funcionários de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do seu salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: `[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]`. O abono de cada funcionário não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos funcionários receberam o abono mínimo e qual o maior valor de abono fornecido.

In [5]:
lista = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
dicionario = {}
total_gastos = 0
qtd_abono_minimo = 0
maior_abono = 0

for i in lista:
  abono = i * 0.10
  abono = round(abono,2) #arredondar para duas casas decimais apos a virgula
  if abono < 200.00:
    abono = 200.00
  dicionario[i] = abono

for abono in dicionario.values():
  total_gastos += abono
  if abono == 200.00:
    qtd_abono_minimo += 1

  if maior_abono < abono:
    maior_abono = abono

print(f'O total de gastos com abono foi R${total_gastos:.2f}\n{qtd_abono_minimo} funcionarios receberam o abono mínimo\nO maior valor de abono foi R${maior_abono:.2f}')

O total de gastos com abono foi R$6087.80
2 funcionarios receberam o abono mínimo
O maior valor de abono foi R$790.30

#### Questão 14
Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área da floresta e armazenaram essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.
```
{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
```
Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [9]:
diversidade = { 'Área Norte': [2819, 7236],
                'Área Leste': [1440, 9492],
                'Área Sul': [5969, 7496],
                'Área Oeste': [14446, 49688],
                'Área Centro': [22558, 45148]}

media = 0
maior_diversidade = 0
area_maior_diversidade = ''

for area,especies in diversidade.items():
    soma = sum(especies)
    media = round(soma/len(especies),2)
    print(f'A média das espécies da {area} é {media}')
    if maior_diversidade < soma:
      maior_diversidade = soma
      area_maior_diversidade = area

print(f'A área com maior diversidade é a {area_maior_diversidade} com {maior_diversidade} espécies')

A média das espécies da Área Norte é 5027.5
A média das espécies da Área Leste é 5466.0
A média das espécies da Área Sul é 6732.5
A média das espécies da Área Oeste é 32067.0
A média das espécies da Área Centro é 33853.0
A área com maior diversidade é a Área Centro com 67706 espécies

#### Questão 15
O setor de RH da sua empresa te pediu uma ajuda para analisar as idades dos funcionários de 4 setores da empresa. Para isso, ele te forneceu os seguintes dados:
```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
```
Sabendo que cada setor tem 10 funcionários, construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [1]:
empresa = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

soma_geral = 0
media_geral = 0
pessoas_acima_da_media = 0
tamanho_empresa = 0

for setor, funcionarios in empresa.items():
  soma = sum(funcionarios)
  soma_geral += soma
  media = soma/len(funcionarios)
  print(f'A media de idade dos funcionarios do {setor} é {media}')
  tamanho_empresa += len(funcionarios)

media_geral = soma_geral/tamanho_empresa
print(f'A média geral dos setores é {media_geral}')

for setor, funcionarios in empresa.items():
  for idade in funcionarios:
    if idade > media_geral:
     pessoas_acima_da_media += 1

print(f'Quantidade de pessoas acima da média geral: {pessoas_acima_da_media}')

A media de idade dos funcionarios do Setor A é 39.9
A media de idade dos funcionarios do Setor B é 42.3
A media de idade dos funcionarios do Setor C é 35.8
A media de idade dos funcionarios do Setor D é 36.5
A média geral dos setores é 38.625
Quantidade de pessoas acima da média geral: 18